{% extends 'base/base.html' %}
{% load static %}
{% block headers %}
{% include 'include/main_include_file.html' %}
{% endblock headers %}


{% block body %}

    <section class="section-content padding-y bg">
    <div class="container">
    
    <div class="row">
        <aside class="col-lg-9">
    <div class="card">
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" width="120">Color</th>
      <th scope="col" width="120">Size</th>
      <th scope="col" width="120">Quantity</th>
      <th scope="col" width="120">Price</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
        {% for cart in carts %}
    <tr>
        <td>
            <figure class="itemside align-items-center">
                <div class="aside"><img src="/media/{{cart.product.product_image}}" class="img-sm"></div>
                <figcaption class="info">
                    <a href="#" class="title text-dark">{{cart.product.product_name}}</a>
                    <p class="text-muted small">{{cart.product.product_brand}} <br> </p>
                </figcaption>
            </figure>
        </td>

        <td>
            <figure class="itemside align-items-center">
                
                <figcaption class="info">
                    <p class="title text-dark">None</p>
                 
                </figcaption>
            </figure>

        </td>

        <td>
            <figure class="itemside align-items-center">
                
                <figcaption class="info">
                    <p class="title text-dark">{{cart.product_Size_variant}}</p>
                   
                </figcaption>
            </figure>

        </td>


        <td> 
        
                         <div class="counter">
                            <span class="down" onClick='decreaseCount(event, this)'> <a class="mr-2" href="{% url 'decrease_item' pk=cart.product.pk%}">-</a></span>
                            <input type="text" value="{{ cart.quantity }}">
                            <span class="up" onClick='increaseCount(event, this)'> <a   class="mr-2" href="{% url 'increase_item' pk=cart.product.pk %}">+</a></span>
                          </div> 
               
        </td>
        <td> 
            <div class="price-wrap"> 
                <var class="price">&#2547; {{cart.get_product_price}}</var> 
                {% comment %} <small class="text-muted"> &#2547; {{cart.item.product_price}} each </small>  {% endcomment %}
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right"> 
         <a href="{% url 'remove_from_cart' cart.product.pk %}" class="btn btn-danger"> Remove</a> 
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">&#2547;{{total_price_in_cart.get_cart_total}} </dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right">&#2547;{{total_price_in_cart.get_tax}} </dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="text-right text-dark b"><strong>&#2547;{{final_total}}</strong></dd>
                </dl>

                <hr>
                    <div class="col-lg  col-md-6 col-sm-12 col">
                        <form  class="search">
                            {% csrf_token %}
                            <div class="input-group w-100">
                                <input type="text" name="coupon_code" class="form-control" style="width:60%;" placeholder="Coupon Code">         
                                <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-gift" aria-hidden="true"></i>
                                </button>
                                </div>
                            </div>
                        </form>
                    </div> 
                </hr>


                <hr>
                    <p class="text-center mb-3">
                        <img  height="26" src="{% static 'images/misc/payments.png' %}" >
                    </p>
                </hr>

                

                <a href="{% url 'initial_order' %}" class="btn btn-primary btn-block"> Place Order </a>
                <a href="{% url 'index' %}" class="btn btn-light btn-block">Continue Shopping</a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    </body>


{% endblock body %}