
{% extends 'base/base.html' %}

{% load static %}

{% block headers %}

{% include 'include/main_include_file.html' %}

{% endblock headers %}



{% block body %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        {% include "dashboard/user_options.html" %}
        <main class="col-md-9">

            <article class="card">

            <header class="card-header">
                <strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
                <span>Login Date: {{ user.last_login|date:"F j, Y" }} at {{ user.last_login|time:"g:i A" }}</span> |
                <span>Last Order Date : {{get_order.created}} </span>
            </header>
           
              <div class="card mx-auto" style="max-width: 380px; margin-top:30px;">
                <div class="card-body">
                <h4 class="card-title mb-4">Change your Password</h4>
      
                <form action="{% url 'change_password' %}" method="POST">
                  {% csrf_token %}
      
                    <div class="form-group">
                       <input type="password"  id="password" name="new_password" class="form-control" placeholder="Enter New Password" >
                    </div> 
      
                    <div class="form-group">
                      <input type="password" id="confirm-password" name="confirm_password" class="form-control" placeholder="Confirm Password" >
                    </div>
      
                    <div class="form-group">
                    <input type="checkbox" id="show-passwords" onclick="togglePasswordsVisibility()"  > Show Password
                  </div>
      
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Change Password  </button>
                    </div> 
              </div> 
      
           
            </article> 
        </main>
    </div> 
    </div>
  
    </section>
   
{% include "include/footer.html" %}


<script>
    
  function togglePasswordsVisibility() {
    const passwordFields = document.querySelectorAll('input[type="password"]');
    const showPasswordsCheckbox = document.getElementById('show-passwords');

    if (showPasswordsCheckbox.checked) {
      // If checkbox is checked, show passwords
      passwordFields.forEach(field => {
          field.type = showPasswordsCheckbox.checked ? 'text' : 'password';
        });
     
    } else {
      // If checkbox is unchecked, hide passwords
      
      passwordFields.forEach(field => {
          console.log("unchecked")
          field.type = 'password';
        });
    }
    
  }
</script> 

{% endblock body %}
