{% if user.sign_up_platform == 4 %}

<article class="card mb-4">
    <div class="card-body">
        <h4 class="card-title mb-4">Contact info</h4>
        <form  action="">
           
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Frst name</label>
                    <input type="text" name='first_name' value="{{user.first_name}}" class="form-control" >
                </div>
                <div class="form-group col-sm-6">
                    <label>Last name</label>
                    <input type="text" name='last_name' value="{{user.last_name}}" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                    <label>User name</label>
                    <input type="text" name='phone' value="{{user.username}}" class="form-control">
                </div>
                <div class="form-group col-sm-6">
                    <label>Email</label>
                    <input type="email" name='email' value="{{user.email}}" class="form-control"> 
                </div>
                
            </div> 
        </form>
    </div> 
    </article> 

    {% else %}

    <article class="card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-4">Contact info</h4>
            <form  action="">
               
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Frst name</label>
                        <input type="text" name='first_name' value="{{user.first_name}}" class="form-control"  readonly>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Last name</label>
                        <input type="text" name='last_name' value="{{user.last_name}}" class="form-control" readonly>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>User name</label>
                        <input type="text" name='phone' value="{{user.username}}" class="form-control" readonly>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Email</label>
                        <input type="email" name='email' value="{{user.email}}" class="form-control" readonly> 
                    </div>
                    
                </div> 
            </form>
        </div> 
        </article> 

    {% endif %}