{% extends 'base/base.html' %}
{% load static %}
{% block headers %}
{% include 'include/main_include_file.html' %}
{% endblock headers %}
{% block body %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
        {% include "admin/dashboard/admin_options.html" %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">{{user.username}}</strong>
                <span>Login Date: {{ user.last_login|date:"F j, Y" }} at {{ user.last_login|time:"g:i A" }}</span> |
                <span>Last Order Date: </span>
            </header>
                <div class="card-body">
                    <h4 class="card-title mb-4">Delivery info</h4>
                    <form  method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Product Category*</label>
                                    <select name="category" class="form-control">
                                        {% for cat in category_name %}
                                        <option value="{{cat.pk}}">{{cat.category_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Product Image*</label>
                                    <input type="file"  name='image' value="" class="form-control">
                                </div>
                                
                                <div class="form-group col-sm-6">
                                    <label>Product Name*</label>
                                    <input type="text"  name='p_name' value="" class="form-control">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Product Price*</label>
                                    <input type="text" name='p_price' value="" class="form-control">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Product Old Price</label>
                                    <input type="text" name='p_old_price' value="" class="form-control">
                                </div>
                            
                                <div class="form-group col-sm-6">
                                    <label>Product Brand*</label>
                                    <input type="text" name='p_brand' value="" class="form-control">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Product Discription</label>
                                    <textarea type="text" name='p_discription' value="" class="form-control"></textarea>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label></label>
                                    <input type="submit" name='' value="Add Product" class="form-control btn btn-primary btn-block">
                                </div>

                        </div>
                    </form> 
                </div>      
        </main>
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock body %}