{% load static %}

<br>
{% if product_details.products_review.all %}
<article class="box mb-3">
  {% for reviews in product_details.products_review.all %}
      <div class="icontext w-100">
        
          <img src="{% static 'images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
          <div class="text">
            <h6 class="mb-1">{{reviews.user.username}} {{reviews.created_date}} </h6>
          </div>
          <a href="" > <i class="fas fa-edit"></i><br>
          <a href="{% url 'delete_review' pk=product_details.pk %}" > <i class="fa fa-trash" aria-hidden="true"></i>
      </div> <!-- icontext.// -->
      <div class="mt-3">
          <p>
            {{reviews.comment_area}}
          </p>	
      </div>
      
      <br>
      
      {% endfor %}  
  </article>
  {% endif %}