{% load static %}

{% if product_details.products_review.all %}
<br>
<header class="section-heading">
  <h5>Customer Reviews </h5>    

    <div class="rating-star">
      <span>
            <i class="fa fa-star{% if product_details.averageRating < 0.5 %}-o{% elif product_details.averageRating >= 0.5 and product_details.averageRating < 1  %}-half-o{% endif %}"></i> 
            <i class="fa fa-star{% if product_details.averageRating < 1.5 %}-o{% elif product_details.averageRating >= 1.5 and product_details.averageRating < 2  %}-half-o{% endif %}"></i> 
            <i class="fa fa-star{% if product_details.averageRating < 2.5 %}-o{% elif product_details.averageRating >= 2.5 and product_details.averageRating < 3  %}-half-o{% endif %}"></i> 
            <i class="fa fa-star{% if product_details.averageRating < 3.5 %}-o{% elif product_details.averageRating >= 3.5 and product_details.averageRating < 4  %}-half-o{% endif %}"></i> 
            <i class="fa fa-star{% if product_details.averageRating < 4.5 %}-o{% elif product_details.averageRating >= 4.5 and product_details.averageRating < 5  %}-half-o{% endif %}"></i> 
  </span>
</div>
</header>



<article class="box mb-3">
  {% for reviews in product_details.products_review.all %}
      <div class="icontext w-100">
        
          <img src="{% static 'images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
          <div class="text">
            <h6 class="mb-1">{{reviews.user.username}} {{reviews.created_date}} </h6>
           
          </div>
          {% if user.is_authenticated %}
          {% if reviews.user == request_user %}
          <a href="" > <i class="fas fa-edit"></i></a><br>
          <a href="{% url 'delete_review' pk=product_details.pk %}" > <i class="fa fa-trash" aria-hidden="true"></a></i>
          {% endif %}
          {% endif %}
      </div> 
      <div class="mt-3">
          <p>
            {{reviews.comment_area}}
          </p>	
      </div>
      {% endfor %}  
      <br>

      {% else %}
     
      <br>
      <h5>No Reviews </h5> 

  </article>
  {% endif %}