{% load static %}
{% load cart_tag %}

<section class="header-main border-bottom">
	<div class="container">
<div class="row align-items-center">
	<div class="col-lg-2 col-md-3 col-6">
		<a href="{% url 'index' %}" class="brand-wrap">
			<img class="logo" src="{% static 'images/logo.png' %}" >
		</a> <!-- brand-wrap.// -->
	</div>
	<div class="col-lg col-sm col-md col-6 flex-grow-0">
		<div class="category-wrap dropdown d-inline-block float-right">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
				<i class="fa fa-bars"></i> All category 
			</button>
			<div class="dropdown-menu">
				{% for cat in category_name %}
			   <a class="dropdown-item" href="{% url 'show_product_cat_wise' pk=cat.pk %}">{{cat.category_name}} </a>
			   {% endfor %}
		   </div>
		</div>  <!-- category-wrap.// -->
	</div> <!-- col.// -->
	{% comment %} <a href="./index.html" class="btn btn-outline-primary">Store</a> {% endcomment %}
	<div class="col-lg  col-md-6 col-sm-12 col">
		<form action="#" class="search">
			<div class="input-group w-100">
			    <input type="text" class="form-control" style="width:60%;" placeholder="Search">
			    
			    <div class="input-group-append">
			      <button class="btn btn-primary" type="submit">
			        <i class="fa fa-search"></i>
			      </button>
			    </div>
		    </div>
		</form> <!-- search-wrap .end// -->
	</div> <!-- col.// -->
	<div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
				<div class="d-flex justify-content-end mb-3 mb-lg-0">
					<div class="widget-header">
						<small class="title text-muted">Logged In  {{user.username}} </small>
						<div> 
							<a href="{% url 'index' %}"  >Home</a> <span class="dark-transp"> | </span>
							<a href="{% url 'user_dashboard' %}"  > Dashboard</a>
						</div>
					</div>


					<a href="" class="widget-header pl-3 ml-2">
						<div class="icon icon-sm "><i id="bellIcon" class="fa fa-bell"></i></div>
						<span class="badge badge-pill badge-danger notify" id="badgeCount"></span> 
					</a>

					<a href="{% url 'view_wish_list' %}" class="widget-header pl-3 ml-2">
						<div class="icon icon-sm "><i class="fa fa-heart"></i></div>
						<span class="badge badge-pill badge-danger notify">{{ request.user | wish_list_total }}</span> 
					</a>

					<a href="{% url 'cart_view' %}" class="widget-header pl-3 ml-3">
						<div class="icon icon-sm "><i class="fa fa-shopping-cart"></i></div>
						<span class="badge badge-pill badge-danger notify">{{ request.user | cart_total }}</span> 
					</a>
				</div> 
			</div> 
</div> 
	</div> 
</section> 

{% comment %} 
<script>
    // setup chat scoket
    const notifyScoket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/notify/'
    );

    // on socket open
    notifyScoket.onopen = function (e) {
        console.log('Socket successfully connected.');
    };

    // on socket close
    notifyScoket.onclose = function (e) {
        console.log('Socket closed unexpectedly');
    };

    // on receiving message on group
    notifyScoket.onmessage = function (e) {
		
        const data = JSON.parse(e.data);
		
		// Update bell icon
		const bellIcon = document.getElementById('bellIcon');
		console.log(bellIcon);
		bellIcon.className = data.hasNotification ? 'fa fa-bell' : 'fa fa-bell-o';
	
		// Update badge count
		const badgeCount = document.getElementById('badgeCount');
		badgeCount.textContent = data.notificationCount;
		
		console.log(data.message);
        

    }; 

   
</script> {% endcomment %}
