{% load static %}
{% load cart_tag %}



<section class="header-main border-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-3 col-6">
                <a href="{% url 'index' %}" class="brand-wrap">
                    <img class="logo" src="{% static 'images/logo.png' %}">
                </a>
            </div>

            <div class="col-lg-7 col-md-6 col-6">
                <form action="#" class="search">
                    <div class="input-group">
                        <input type="text" class="form-control" style="max-width: 520px;" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-3 col-md-3 col-6">
                <div class="d-flex justify-content-end align-items-center">
                    {% comment %} <div class="widget-header mr-3">
                        <small class="text-muted">Logged In as {{ user.username }}</small>
                        <div>
                            <a href="{% url 'index' %}">Home</a><span class="dark-transp"> | </span>
                            <a href="{% url 'user_dashboard' %}"> Dashboard</a>
                        </div>
                    </div> {% endcomment %}

                    <a href="{% url 'view_wish_list' %}" class="widget-header pl-3 ml-2">
                        <div class="icon icon-sm"><i class="fa fa-heart" style="color: black;"></i>
						</div>
                        <span class="badge badge-pill badge-danger notify">{{ request.user|wish_list_total }}</span>
                    </a>

                    <a href="{% url 'cart_view' %}" class="widget-header pl-3 ml-2">
                        <div class="icon icon-sm"><i class="fa fa-shopping-cart" style="color: black;"></i></div>
                        <span class="badge badge-pill badge-danger notify">{{ request.user|cart_total }}</span>
                    </a>

					<div class="dropdown">
						<a href="" class="widget-header pl-3 ml-2" class="btn btn-transparent dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="icon icon-sm"><i class="fa fa-bell" style="color: black;"></i></div>
							<span class="badge badge-pill badge-danger notify">{{all_notification|length}}</span>
						</a>
						<div id="messageContainer" class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
							<!-- User account options go here -->
							{% for notification in all_notification %}
							<a class="dropdown-item" href="">{{notification.message}}  </a>
							<hr>
							{% endfor %}
						</div>
					</div>
                    <div class="dropdown">
                        <button class="btn btn-transparent dropdown-toggle" type="button" id="messageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="icon icon-sm"><i class="fa fa-envelope"></i></div>
                            <span class="badge badge-pill badge-danger notify">{{ message_count }}</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right scrollable-menu" aria-labelledby="messageDropdown">
                            <!-- Message items go here -->
                        </div>
                    </div>

					<div class="col-lg-3 col-md-3 col-6">
						<div class="d-flex justify-content-end align-items-center">
							<!-- Your existing code for "Logged In" text and other icons -->
		
							<div class="dropdown">
								<button class="btn btn-transparent dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<div class="icon icon-sm"><i class="fa fa-user"></i></div>
								</button>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
									<!-- User account options go here -->
									<a class="dropdown-item" href="">{{user.username}}</a>
									<a class="dropdown-item" href="{% url 'user_dashboard' %}">Dashboard</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
	// WebSocket code
	const notifySocket = new WebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/notify/'
	);
	
	notifySocket.onopen = function() {
		console.log('WebSocket connection established.');
	};

	notifySocket.onmessage = function (e) {
		try {
			//console.log(e.data)
			const data = JSON.parse(e.data);
			const messageContainer = document.getElementById('messageContainer');
			if (messageContainer) {
				messageContainer.innerHTML = data.notification || '';
			} else {
				console.error('Element with ID "messageContainer" not found.');
			}
		} catch (error) {
			console.error('Error parsing WebSocket message:', error);
		}
	};

	notifySocket.onerror = function(error) {
		console.error('WebSocket error:', error);
	};

	notifySocket.onclose = function(event) {
		console.log('WebSocket connection closed:', event);
	};
</script>
</body>
