{% load static %}
{% block blody %}
{% include 'include/side_bar.html' %}

	</aside> 
	<main class="col-md-9">

		<style>
			.right{
				float:right;
			}
		</style>


		<div class="row">
			{% for products in fatch_all_products %}
			<div class="col-md-4">
				<figure class="card card-product-grid">
					<div class="img-wrap"> 
						
						<img src="{{products.product_image.url}}">
					</div> 
					<figcaption class="info-wrap">
						<div class="fix-height">
							<a href="{% url 'product_detail' products.pk %}" class="title"> {{products.product_name}}</a>
							<div class="price-wrap mt-2">
								<span class="price">&#2547;{{products.product_price}}</span>
								<del class="price-old">{{products.product_old_price}}</del>
							</div> 
						</div>
		
						<div class="rating-star">
							<span>
								{% if products.averageRating %}
							  {{products.averageRating}}
								  <i class="fa fa-star{% if products.averageRating < 0.5 %}-o{% elif products.averageRating >= 0.5 and products.averageRating < 1  %}-half-o{% endif %}"></i> 
								  <i class="fa fa-star{% if products.averageRating < 1.5 %}-o{% elif products.averageRating >= 1.5 and products.averageRating < 2  %}-half-o{% endif %}"></i> 
								  <i class="fa fa-star{% if products.averageRating < 2.5 %}-o{% elif products.averageRating >= 2.5 and products.averageRating < 3  %}-half-o{% endif %}"></i> 
								  <i class="fa fa-star{% if products.averageRating < 3.5 %}-o{% elif products.averageRating >= 3.5 and products.averageRating < 4  %}-half-o{% endif %}"></i> 
								  <i class="fa fa-star{% if products.averageRating < 4.5 %}-o{% elif products.averageRating >= 4.5 and products.averageRating < 5  %}-half-o{% endif %}"></i> 
								  <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
								  <small class="label-rating text-muted">{{products.count_reviews}} reviews</small>
								  {% else %}
								  
								  <small class="label-rating text-muted">No reviews Yet</small>
								  <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small><br>
								  <small class="label-rating text-muted">{{products.count_reviews}} reviews</small>
								  {% endif %}
						</span>
					  </div>
		
					  
						  
					  	{% if request.user.is_authenticated %}
						  <div class="right">
							{% if products.id == wish_list %}
							
							<div class="icon icon-sm " ><i class="fa fa-heart disabled"></i></div>
								<span class="badge badge-pill badge-danger notify"></span> 
		
							{% else %} 
							<a href="{% url 'add_to_wish_list' products.pk %}" class="widget-header pl-3 ml-2">
								<div class="icon icon-sm " ><i class="fa fa-heart"></i></div>
								<span class="badge badge-pill badge-danger notify"></span> 
							</a>
							 {% endif %} 
						  </div>
						  {% else %}

						  {% endif %}
						
						
					</figcaption>
				</figure>
			</div> 
			{% endfor %}
		
		</div> 
		


  {% include "pagination/category_pagination.html" %}

	</main> 

</div>

</div> 
</section>

{% endblock blody %}

{% block footer %}

{% include 'include/footer.html' %}

{% endblock footer %}