{% extends 'base/base.html' %}

{% load static %}

{% block headers %}

{% include 'include/main_include_file.html' %}

{% endblock headers %}

{% block body %}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap">
           <a href="#"><img src="/media/{{product_details.product_image}}"></a>
        </div> <!-- img-big-wrap.// -->
        
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">
    <article class="content-body">
    
    <h2 class="title">{{product_details.product_name}}</h2>


    <div class="rating-wrap my-3">
      <ul class="rating-stars">
          <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
              <i class="fa fa-star"></i> 
          </li>
          <li>
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
              <i class="fa fa-star"></i> 
          </li>
      </ul>
      <small class="label-rating text-muted">132 reviews</small>
      <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
  </div> <!-- rating-wrap.// -->


    
    <div class="mb-3"> 
         <var class="price h4">

          {% if depend_on_size_price %}

          &#2547;{{depend_on_size_price}}
        
         {% else %}
          &#2547;{{product_details.product_price}}
          {% endif %}
        </var>  

    </div> 
    <div class="mb-3"> 
      <var class="price h4">{{product_details.product_brand}} </var> 
  </div> 
    
    <p> {{product_details.product_discription}}</p>

    <dl class="row">
      <dt class="col-sm-3">Model#</dt>
      <dd class="col-sm-9">{{product_details.model}}</dd>

      <dt class="col-sm-3">Delivery</dt>
      <dd class="col-sm-9">
        {% for delivery_country in product_details.product_delivery_country.all  %}
        {{delivery_country.country_name}},
        {% endfor %}
       </dd>
    </dl>
    

    
    <hr>

  
    {% if product_details.product_color.count %}
        <div class="row">
            <div class="item-option-select">
                <h6>Choose Color</h6>
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                 {% for colors in product_details.product_color.all %}
                  <label class="btn btn-light">
                    <input type="radio" name="color" onchange="get_color_name('{{colors.color_name}}')" checked value=""> {{colors.color_name}}
                  </label>
                  {% endfor %}
                </div> 
            </div>
        </div>
        {% endif %}


       
       {% if product_details.product_size.count %}
        <div class="row">
            <div class="item-option-select">
                <h6>Select Size</h6>
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                  {% for size in product_details.product_size.all %}
                  <label class="btn btn-light">
                    <input type="radio" name="size" {% if selected_size == size.size_name %} checked {% endif %} onchange="get_size_name('{{size.size_name}}')" value="" > {{size.size_name}}
                  </label>
                  {% endfor %}
                </div> 
            </div>
        </div> 
        {% endif %}
       
       

        <div class="counter">
          <span class="down" onClick='decreaseCount(event, this)'>-</span>
          <input type="text" value="1" name="quantity">
          <span class="up" onClick='increaseCount(event, this)'>+</span>
        </div>

          <hr>
          <a href="#" class="btn  btn-primary"> Buy now </a>
          {% if selected_size %}
          <a href="{% url 'add_to_cart' product_details.pk %}?size={{selected_size}} " class="btn  btn-outline-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
          {% else %}
          <a href="{% url 'add_to_cart' product_details.pk %} " class="btn  btn-outline-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a>
          {% endif %}
        
       
        
     
      
    </article> 
            </main> 
        </div> 
    </div> 
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
    
    {% if user.is_authenticated %}

    <div class="row">
                <div class="col-md-9">
    
        <header class="section-heading">
            <h3>Customer Reviews </h3>    
        </header>
        
         {% if not product_details.products_review.all %}
          <p> No Comment Yet</p>
          
          <form method="POST" action="{% url 'customer_reviews' pk=product_details.pk  %}">
            {% csrf_token %}
              <div class="form-group col-sm-6">
                <label>Comment</label>
                <textarea type="text" name='comment' value="" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary "> Comment </button>
  
          </form>

        {% else %} 

        <article class="box mb-3">
          {% for comments in  product_details.products_review.all %}
            <div class="icontext w-100">
                <img src="{% static 'images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
                <div class="text">
                    <span class="date text-muted float-md-right">{{comments.commented_date}} </span>  
                    <h6 class="mb-1">{{comments.user.username}} </h6>
                </div>
            </div> <!-- icontext.// -->
            <div class="mt-3">
                <p>
                    {{comments.comment_area}}
                </p>	
            </div>
            <br>
            {% endfor %}
        </article>


         <form method="POST" action="{% url 'customer_reviews' pk=product_details.pk  %}">
          {% csrf_token %}
            <div class="form-group col-sm-6">
              <label>Comment</label>
              <textarea type="text" name='comment' value="" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary "> Comment </button>

        </form> 

        {% endif %} 


       

        {% else %}




        <div class="row">
          <div class="col-md-9">

      <header class="section-heading">
          <h3>Customer Reviews </h3>    
      </header>
      {% if not product_details.products_review.all %}
        <p> No Comment Yet. Please Login for review</p>
      
      {% else %}

      <article class="box mb-3">
        {% for comments in  product_details.products_review.all %}

          <div class="icontext w-100">
              <img src="{% static 'images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
              <div class="text">
                  <span class="date text-muted float-md-right">{{comments.commented_date}} </span>  
                  <h6 class="mb-1">{{comments.user.username}} </h6>

              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              
              </div>


          </div> <!-- icontext.// -->

          <div class="mt-3">
              <p>
                  {{comments.comment_area}}
              </p>	
          </div>
          <br>
          {% endfor %}
      </article>

      {% endif %}

    {% endif %}
    
        
    
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->




  

    {% endblock body %}

   