{% extends 'base/base.html' %}

{% load static %}

{% block headers %}

{% include 'include/main_include_file.html' %}

{% endblock headers %}



{% block body %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        {% include "admin/dashboard/admin_options.html" %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">{{user.username}}</strong>
                <span>Login Date: {{ user.last_login|date:"F j, Y" }} at {{ user.last_login|time:"g:i A" }}</span> |
                <span> </span>
            </header>
            {% comment %} <div class="card-body">
                <div class="row"> 
                    <div class="col-md-8">
                         Todo something 
                    </div>
                    <div class="col-md-4">
                         write something 
                    </div>
                </div> 
            </div> {% endcomment %}
           

            {% include "admin/chart/details_card.html" %}
            

                <div class="table-responsive">

                {% include "admin/chart/user_chart.html" %}

                </div>

               

           {% comment %} {% include "admin/include/product_list.html" %} {% endcomment %}


            </div> <!-- table-responsive .end// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>

    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->



{% endblock body %}