{% extends 'base/base.html' %}

{% load static %}

{% block headers %}



{% include 'include/main_include_file.html' %}


{% endblock headers %}



{% block body %}

<header class="section-header">
   
    </header> <!-- section-header.// -->
    <section class="section-content padding-y bg">
    <div class="container">
    
    
    
    <!-- ============================ COMPONENT 2 ================================= -->
    <div class="row">
            <main class="col-md-8">
    
    <article class="card mb-4">
    <div class="card-body">
        <h4 class="card-title mb-4">Review Product</h4>
       
        <div class="row">
          
            <div class="col-md-6">
                <figure class="itemside  mb-4">
                    <div class="aside"><img src="/media/{{product_imag}}" class="border img-sm"></div>
                    <figcaption class="info">
                        <p> {{product_name}} | {{product_brand}} </p>
                        <p>Quantity : 1 </p>
                        <span class="text-muted">&#2547;{{product_price}}</span>
                    </figcaption>
                </figure>
            </div> <!-- col.// -->

        </div> <!-- row.// -->
       
    </div> <!-- card-body.// -->
    </article> <!-- card.// -->
    
    
    <article class="card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-4">Contact info</h4>
            <form  action="">
               
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Frst name</label>
                        <input type="text" name='first_name' value="{{user_first_name}}" class="form-control"  readonly>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Last name</label>
                        <input type="text" name='last_name' value="{{user_last_name}}" class="form-control" readonly>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>User name</label>
                        <input type="text" name='phone' value="{{user_name}}" class="form-control" readonly>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Email</label>
                        <input type="email" name='email' value="{{user_email}}" class="form-control" readonly> 
                    </div>
                    
                </div> <!-- row.// -->	
            </form>
        </div> <!-- card-body.// -->
        </article> <!-- card.// -->
    
        <article class="card mb-4">
            <div class="card-body">
                <h4 class="card-title mb-4">Delivery info</h4>
                <form  method="POST" action="">
                    {% csrf_token %}
                    <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Country*</label>
                                <select name="country" class="form-control">
                                    <option value="1">Bangladesh</option>
                                    
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>State*</label>
                                <input type="text"  name='state' value="{{state}}" class="form-control">
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Street*</label>
                                <input type="text" name='street' value="{{street}}" class="form-control">
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Building</label>
                                <input type="text" name='building' value="{{house_number}}" class="form-control">
                            </div>
                        
                            <div class="form-group col-sm-6">
                                <label>Phone</label>
                                <input type="text" name='phone' value="{{phone}}" class="form-control">
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Zip</label>
                                <input type="text" name='zip' value="{{zip}}" class="form-control">
                            </div>
        
                            <div class="form-group col-sm-4">
                                <button type="submit" name ="user_final_checkout_form" class="btn btn-primary "> Update  </button>
                            </div> 
                    </div>
                   
                </form>
                
            </div> 
            
            </article>
    
    
</main> <!-- col.// -->

<aside class="col-md-4">
    <div class="card">
<div class="card-body">
    <dl class="dlist-align">
      <dt>Total price:</dt>
      <dd class="text-right">&#2547;{{product_price}}</dd>
    </dl>
    <dl class="dlist-align">
      <dt>Tax:</dt>
      <dd class="text-right"> &#2547;{{total_tax}}</dd>
    </dl>
    
    <hr>
    <p class="text-center mb-3">
        <dl class="dlist-align">
            <dt>Total:</dt>
            <dd class="text-right text-dark b"><strong>&#2547;{{get_total_all}}</strong></dd>
          </dl>
        {% comment %} <img height="26" src="{% static 'images/misc/payments.png' %}" > {% endcomment %}
    </p>
    {% comment %} <a href="{% url 'initial_payment_amarPay' %}" class="btn btn-primary btn-block"> Checkout </a>
    <a href="{% url 'initial_payment_amarPay' %}" class="btn btn-primary btn-block"> PayPal </a> {% endcomment %}


    
</div> 
</div> 

<form method="POST" action="{% url 'choose_payment' %}">
    {% csrf_token %}
    <div class="card">
        <div class="card-body">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="select_option" value="cash_on_delivary" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Cash on delivery
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="select_option" value="amar_pay" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Amar Pay
                </label>
            </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="select_option" value="paypal" id="flexRadioDefault3" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Paypal
                </label>
            </div>

        </div>
            <hr>
            <p class="text-center mb-3">
                <img height="26" src="{% static 'images/misc/payments.png' %}" >
            </p>
            <button  class="btn btn-primary btn-block"> Checkout </button>
             
        </div> 
     </div> 

    </form>

</aside> 




</div> 


    
    </div> 
    </section>


    {% include "include/footer.html" %}

{% endblock body %}
