{% extends 'base/base.html' %}

{% load static %}

{% block headers %}

{% include 'include/main_include_file.html' %}

{% endblock headers %}



{% block body %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        {% include "dashboard/user_options.html" %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
                <span>Login Date: {{ user.last_login|date:"F j, Y" }} at {{ user.last_login|time:"g:i A" }}</span> |
                <span>Last Order Date: {{order_completed.created}} </span>
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-8">
                        <h6 class="text-muted">Delivery to</h6>
                        <p>{{user.username}}<br>  
                        Phone +880{{address.phone}} Email: {{user.email}} <br>
                        Location: {{address.country}}, {{address.house_number}}, {{address.street}},  {{address.state}} <br> 
                        P.O. Box: {{address.zipcode}}
                         </p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-muted">Payment</h6>
                        <span class="text-success">
                            <i class="fab fa-lg fa-cc-visa"></i>
                            Visa  **** 4216  
                        </span>
                        <p>Subtotal: $356 <br>
                         Shipping fee:  $56 <br> 
                         <span class="b">Total:  $456 </span>
                        </p>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            <div class="table-responsive">
            <table class="table table-hover">

                 {% for qs in pending_order %}
                <tr>
                    <td width="65">
                        <img src="/media/{{qs.product_image}}" class="img-xs border">
                    </td>
                    <td> 
                        <p class="title mb-0">{{qs.orderItems.item.product_name}} </p>
                        <var class="price text-muted">{{qs.product_price}}</var>
                    </td>
                    <td> Brand <br> {{qs.product_brand}}  </td>
                    <td width="250"> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light"> Details </a> </td>
                </tr>
             
                {% endfor %}  

            </table>
            </div> <!-- table-responsive .end// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->



{% endblock body %}