{% extends 'base/base.html' %}
{% load static %}
{% block headers %}
{% include 'include/main_include_file.html' %}
{% endblock headers %}
{% block body %}


<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
        {% include "dashboard/user_options.html" %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
                <span>Login Date: {{ user.last_login|date:"F j, Y" }} at {{ user.last_login|time:"g:i A" }}</span> |
                <span>Last Order Date : {{get_order.created}} </span>
            </header>
            <table class="table table-hover">
                {% for completed_orders in order_completed %}
                <tr>
                    <td width="65">
                        <img src="{{completed_orders.product_name.product_image.url}}" class="img-xs border">
                    </td>
                    <td> 
                        <p class="title mb-0">{{completed_orders.product_name}}</p>
                        <var class="price text-muted">&#2547; {{completed_orders.each_product_price}}</var>
                    </td>
                    <td> Quantity <br> {{completed_orders.quantity}} </td>
                    <td>Brand <br> {{completed_orders.product_name.product_brand}}  </td>
                    <td>Variation<br> {{completed_orders.product_Size_variant}} </td>
                    <td width="250"> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light"> Details </a> </td>
                </tr>
                {% endfor %}
            </table>
            </article> 
        </main>
    </div> 
    </div>
    </section>
   
{% include "include/footer.html" %}
{% endblock body %}
